body
{
    background-color: lightgray;
}
#berken img
{
    width: 100px;
    height: 75px;
}

#grenen img
{
    width: 100px;
    height: 75px;
}

#hardhout img
{
    width: 100px;
    height: 75px;
}