#formulier
{
    display: flex;
    flex-direction: column;
    /*padding: 10px; */
    border: solid;
    width: 800px;
    
}

th{
    text-align: left;
}

#tv{
    width: 20px;
}

#foutmeldingen{
    color: red;
}

#output{
    border: solid red;
    width: 800px;
    height: 100px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}