body
{
    background-color: lightgray;
}

#pizza1 img
{
    width: 100px;
    height: 100px;
}

#pizza2 img
{
    width: 100px;
    height: 100px;
}

#pizza3 img
{
    width: 100px;
    height: 100px;
}
