body {
    background-size: 400px 400px;
    background-image: url('https://deltionict.github.io/lucy/_assets/frontend/css17_A.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
}


#display {
    display: flex;
    justify-content: center;
    align-items: center;

}

#stopwatch {
    text-align: center;
}

#buttons button {
    
    margin: 5px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    
}

#stop{
    background-color: red ;
}

#start{
    background-color: green;
}


#reset{
    background-color: yellow;
}